# pandasのデータ構造

## 2.1 データを自作する

### 2.1.1 Seriesを作る

In [2]:
import pandas as pd
s = pd.Series(["banana",42])
display(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(data=["Wes McKinney","Creater of Pandas"],index=["Person","Who"],)
print(s)

Person         Wes McKinney
Who       Creater of Pandas
dtype: object

### 2.1.2 DataFrameを作る

In [5]:
scientists = pd.DataFrame({"Name":["Rosaline franklin","William Gosset"],
                          "Occupation":["Chemist","Statistician"],
                          "Borin":["1920-07-25","1876-06-13"],
                          "Died":["1958-04-16","1937-10-16"],
                          "Age":[37,61]})
display(scientists)

                Name    Occupation       Borin        Died  Age
0  Rosaline franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [8]:
scientists = pd.DataFrame(data={
    "Occupation":["Chemist","Staticstician"],
    "Born":["1920-07-25","1876-06-13"],
    "Died":["1958-04-16","1937-10-16"],
    "Age":[37,61],
},
    index=["Rosaline Franklin","William Gosset"],
    columns=["Occupation","Born","Died","Age"],)
display(scientists)

first_row = scientists.loc["William Gosset"]
print(type(first_row))
print(first_row)
print(first_row.index)
print(first_row.values)

                      Occupation        Born        Died  Age
Rosaline Franklin        Chemist  1920-07-25  1958-04-16   37
William Gosset     Staticstician  1876-06-13  1937-10-16   61

<class 'pandas.core.series.Series'>
Occupation    Staticstician
Born             1876-06-13
Died             1937-10-16
Age                      61
Name: William Gosset, dtype: object
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Staticstician' '1876-06-13' '1937-10-16' 61]