# 第4章 データを部分的に参照しよう

In [ ]:
import pandas as pd
import numpy as np

---

## 4.1 データの先頭を取得するには

In [ ]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

### やってみよう

---

## 4.2 データを1列おきに取得するには

In [ ]:
df = pd.DataFrame(
    [
        [100, 10, 10, 15, 15],
        [101, 7, 17, 12, 27],
        [102, 5, 22, 18, 45],
    ],
    columns=["No", "Sales_A", "Cum_A", "Sales_B", "Cum_B"],
)
df

### やってみよう

---

## 4.3 条件で行を絞り込むには

In [ ]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

### やってみよう

---

## 4.4 一部の列を取得するには

In [ ]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

### やってみよう

---

## 4.5 1列だけのDataFrameを作成するには

In [ ]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

### やってみよう