# 第5章 データを変形しよう

In [ ]:
import pandas as pd
import numpy as np

---

## 5.1 異なる列名同士で連結するには

In [ ]:
df1 = pd.DataFrame({"Product": ["A", "B"], "Prev": [100, 110]})
df1

In [ ]:
df2 = pd.DataFrame({"Product": ["A", "B"], "Sales": [50, 120]})
df2

### やってみよう

---

## 5.2 別のDataFrameの列を結合するには

In [ ]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

In [ ]:
df_class = pd.DataFrame(
    [["Alice", "1-A"], ["Bob", "1-B"], ["Carrol", "1-C"]],
    columns=["Name", "Class"],
)
df_class

### やってみよう

---

## 5.3 ロング形式からワイド形式に変換するには

In [ ]:
df = pd.DataFrame(
    [
        ["Alice", "国語", 87],
        ["Alice", "数学", 72],
        ["Bob", "国語", 65],
        ["Bob", "数学", 92],
    ],
    columns=["Name", "Subject", "Point"],
)
df

### やってみよう

---

## 5.4 ワイド形式からロング形式に変換するには

In [ ]:
index = pd.Index(["Alice", "Bob"], name="Name")
columns = pd.Index(["国語", "数学"], name="Subject")
data = [[87, 72], [65, 92]]
df = pd.DataFrame(data, index=index, columns=columns)
df

### やってみよう

---

## 5.5 クロス集計するには

In [ ]:
rnd = np.random.default_rng(2)
data1 = rnd.choice(["1-A", "1-B"], 60)
data2 = rnd.choice(["Science", "Social", "Sport"], 60)
df = pd.DataFrame({"Class": data1, "Club": data2})
df

### やってみよう

---

## 5.6 区切り文字で列を複数列に分解するには

In [ ]:
df = pd.DataFrame(
    {"国": ["日本", "フランス"], "都市": ["東京/大阪", "パリ"]}
)
df

### やってみよう

---

## 5.7 区切り文字で列を複数行に分解するには

In [ ]:
df = pd.DataFrame(
    {"国": ["日本", "フランス"], "都市": ["東京/大阪", "パリ"]}
)
df

### やってみよう